/* Reset Styles */
html { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; height: 100%;}
body { margin: 0; font-size: 14px; line-height: 1.5; color: #333333; background-color: white; height: 100%; overflow-x: hidden; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
a { background: transparent;  -webkit-tap-highlight-color: transparent; color:#333; text-decoration: none; }
a:visited{ color:#333}
a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0;  }
hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd,menu { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3, h4 { line-height: 2; font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
em{ font-style:inherit;}
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

.middle { margin: 0 auto; }
.tab li { cursor: pointer; }
.tablist { display: none; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { *+:height;:1%;}
.block { display: block; }
.center{ text-align: center;}
.fl{ float: left;}
.fr{ float: right;}
img{ display:block;}
header img{ width:100%; height:auto;}
.by{ display:none;}
#home .by{ display:block;}
footer{ line-height:30px; border-top:1px #d5d5d5 solid; background:#FFF; text-align:center;position:fixed; left:0; width:100%; bottom:0; z-index:9998;}
.fontzoom{ font-size:1.2em;}
.bigphone img{ width:92%; display:block; height:auto; margin:2% auto 0 auto;}


/*nav{ width:100%;}
nav .back{ width:10%; height:auto; text-align:center; float:left; display:inline; background:#e99e15;}
nav .back i{ display:block; font-size:24px; color:#FFF; line-height:inherit;}
nav .logo{ width:80%; float:left; display:inline;}
nav .nav{ width:10%; height:auto; float:left; display:inline; background:#130b79;}
nav .nav i{ display:block; font-size:24px; color:#FFF; line-height:inherit;}
*/
header{ width:100%; background:#130b79;}
header .back{ width:10%; text-align:center; float:left; display:inline; background:#e99e15; z-index:9999; height:64px;line-height:64px;}
header .back i{ display:block; font-size:24px; color:#FFF; height:64px; line-height:64px;}
header .logo{ width:80%; float:left; display:inline; height:auto; background:#130b79; margin:0 auto;text-align:center;height:64px;}
header .logo img{ height:52px; width:auto; padding-top:6px; margin:0 auto;}
header .nav{ width:10%; height:auto; float:left; display:inline; background:#130b79;  height:64px; line-height:64px; overflow:hidden;}
header .nav i{ display:block; font-size:24px; color:#FFF; line-height:inherit; height:64px; line-height:64px;}
.toolbar { position:absolute; width:10%; top: 0; right: 0; height:64px;  }
.map { width:360px; height:434px; display:block; margin:0 auto 50px; position:relative; z-index:12; padding-bottom:40px;}
.map .pic img{ width:100%;height:434px; position:absolute; top:0; left:0; z-index:1;}
h2.maph2{ font-size:1.4em; padding:20px 0; text-align:center;}
.map .font-zjg{position:absolute; top:10%; left:33%; z-index:2}
.map .font-css{position:absolute; top:26%; left:47%; z-index:3}
.map .font-tcs{position:absolute; top:32%; left:73%; z-index:4}
.map .font-xcq{position:absolute; top:39%; left:34%; z-index:5}
.map .font-kss{position:absolute; top:49%; left:62%; z-index:6}
.map .font-hqq{position:absolute; top:47%; left:18%; z-index:7;}
.map .font-gsq{position:absolute; top:49%; left:31%; z-index:8;}
.map .font-wzq{position:absolute; top:58%; left:26%; z-index:9;}
.map .font-gyyq{position:absolute; top:47%; left:44%; z-index:10}
.map .font-wjs{position:absolute; top:67%; left:37%; z-index:11}


@media screen and (max-width:390px) {
    header{ width:100%; background:#130b79;}
    header .back{ width:10%; text-align:center; float:left; display:inline; background:#e99e15; z-index:9999; height:58px;line-height:58px;}
    header .back i{ display:block; font-size:24px; color:#FFF;  height:58px; line-height:58px;}
    header .logo{ width:80%; float:left; display:inline; height:auto; background:#130b79; text-align:center;height:58px;}
    header .logo img{ height:46px; width:auto; padding-top:6px; margin:0 auto;}
    header .nav{ width:10%; height:auto; float:left; display:inline; background:#130b79;  height:58px; line-height:58px; overflow:hidden;}
    header .nav i{ display:block; font-size:24px; color:#FFF; line-height:inherit; height:58px; line-height:58px;}
    .toolbar { position:absolute; width:10%; top: 0; right: 0; height:58px;  }
    .map { width:340px; height:410px; display:block; margin:0 auto 50px; position:relative; z-index:12; padding-bottom:40px;}
    .map .pic img{ width:100%;height:410px; position:absolute; top:0; left:0; z-index:1;}
    .map .font-zjg{position:absolute; top:10%; left:33%; z-index:2}
    .map .font-css{position:absolute; top:25%; left:47%; z-index:3}
    .map .font-tcs{position:absolute; top:31%; left:73%; z-index:4}
    .map .font-xcq{position:absolute; top:40%; left:34%; z-index:5}
    .map .font-kss{position:absolute; top:49%; left:62%; z-index:6}
    .map .font-hqq{position:absolute; top:47%; left:18%; z-index:7;}
    .map .font-gsq{position:absolute; top:49%; left:32%; z-index:8;}
    .map .font-wzq{position:absolute; top:56%; left:26%; z-index:9;}
    .map .font-gyyq{position:absolute; top:47%; left:44%; z-index:10}
    .map .font-wjs{position:absolute; top:66%; left:37%; z-index:11}
}

@media screen and (max-width:355px) {
    header{ width:100%; background:#130b79;}
    header .back{ width:10%; text-align:center; float:left; display:inline; background:#e99e15; z-index:9999; height:49px;line-height:49px;}
    header .back i{ display:block; font-size:24px; color:#FFF;  height:49px; line-height:49px;}
    header .logo{ width:80%; float:left; display:inline; height:auto; background:#130b79;text-align:center;height:49px;}
    header .logo img{ height:36px; width:auto; padding-top:6px; margin:0 auto;}
    header .nav{ width:10%; height:auto; float:left; display:inline; background:#130b79;  height:49px; line-height:49px; overflow:hidden;}
    header .nav i{ display:block; font-size:24px; color:#FFF; line-height:inherit; height:49px; line-height:49px;}
    .toolbar { position:absolute; width:10%; top: 0; right: 0; height:49px;  }
    .map { width:280px; height:338px; display:block; margin:0 auto 50px; position:relative; z-index:12; padding-bottom:40px;}
    .map .pic img{ width:100%;height:338px; position:absolute; top:0; left:0; z-index:1;}
    .map .font-zjg{position:absolute; top:10%; left:33%; z-index:2}
    .map .font-css{position:absolute; top:24%; left:47%; z-index:3}
    .map .font-tcs{position:absolute; top:30%; left:73%; z-index:4}
    .map .font-xcq{position:absolute; top:38%; left:34%; z-index:5}
    .map .font-kss{position:absolute; top:49%; left:62%; z-index:6}
    .map .font-hqq{position:absolute; top:45%; left:18%; z-index:7;}
    .map .font-gsq{position:absolute; top:48%; left:32%; z-index:8;}
    .map .font-wzq{position:absolute; top:56%; left:28%; z-index:9;}
    .map .font-gyyq{position:absolute; top:44%; left:44%; z-index:10}
    .map .font-wjs{position:absolute; top:67%; left:37%; z-index:11}
    h2.maph2{ font-size:1.2em; padding:20px 0; text-align:center;}

}

main { max-width: 600px; margin: 0 auto; }
main a, main a:active, main a:focus, main a:hover, main a:link, main a:visited { }
main header {  }
.aligncontent-center { text-align: center; }
.wrapper { margin-top: 66px;}
.menu-left { float: right; color:#FFF;}
#open-sb{ float: right; color:#FFF; height:49px; text-align:right; padding-right:10px;   }
.main-header { text-align: center; font-weight: 300; font-size: 90%; }
.menu-button { position: relative; cursor: pointer;}
.menu-button:before { content: ""; position: absolute;}
.sidebar { margin: 0; padding-top: 1em; color: white; filter:progid:DXImageTransform.Microsoft.gradient(enabled='ture',startColorstr=#88000000, endColorstr=#88000000); background: rgba(0,0,0,0.7);color:#FFF; }
.sidebar h6 { margin: 0 .8em; padding: 0; font-size:18px; line-height:1.4em; font-weight: 600; margin-top:10px; }
.sidebar h6 a{ color:#FFF;}
.sidebar li { margin:0; padding: 0 1em; font-size:1.1em; line-height:1.3em; display:inline-block;}
.sidebar li:hover { }
.sidebar li a {color:#FFF; }
.sidebar hr { margin: 2px auto; border: 0; padding: 0; width: 90%; height: 1px; background-color: white; }

/*.tabindex { width:100%; background:#d7d7d7;}
.tabindex li i{ display:block; font-size:26px;}
.tabindex li a{}
.tabindex li{ cursor:pointer; width:22%; margin:3% 0 0 2%; float:left; display:inline; text-align:center; border:1px #aeaeae solid; border-bottom:0; padding-bottom:5px; box-shadow:#999; border-radius:5px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background:#dedede; padding-top:5px; color:#130b79; font-weight:normal;}
.tabindex li.now{ width:22%; margin:3% 0 0 2%; float:left; display:inline; text-align:center; border:1px #aeaeae solid; border-bottom:0; padding-bottom:5px; box-shadow:#999; border-radius:5px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background:#fff; }
*/
.tabindex { width:100%; background:#d7d7d7;}
.tabindex li i{ font-size:16px; padding-right:3px;}
.tabindex li a{ color:#130b79;}
.tabindex li{ width:31%; margin:3% 0 0 2%; float:left; display:inline; text-align:center; border:1px #aeaeae solid; border-bottom:0; padding:5px 0; -webkit-box-shadow:#999; box-shadow:#999; border-radius:5px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background:#dedede; }
.tabindex .cur{ background:#fff; }
.spannone { display:none;}
#tablist1{ padding-bottom:40px;}

.tabindex1 { width:100%; background:#d7d7d7;}
.tabindex1 li{ cursor:pointer; width:22%; margin:3% 0 0 2%; float:left; display:inline; text-align:center; border:1px #aeaeae solid; border-bottom:0; padding-bottom:5px; -webkit-box-shadow:#999; box-shadow:#999; border-radius:5px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background:#dedede; padding-top:5px; color:#130b79; font-weight:normal;}
.tabindex1 .cur{ background:#fff; }

.newslist{ width:100%;}
.newslist li{ width:100%; position:relative; line-height:20px; border-bottom:1px #d5d5d5 solid; padding:15px 0;font-weight:normal;cursor:pointer; overflow:hidden;}
.newslist li em{ display:block; padding:0 30px 0 10px; overflow:hidden;}
.newslist li b{ width:30px; position:absolute; display:block; right:0; top:0; }
.newslist strong img{ display:inline; width:25px; height:auto;}
.newslist strong{ font-size:1.2em; line-height:30px; padding:10px 0 10px 30px;}
.newslist li img{ float:left;width:65px; height:45px; display:inline-block; -webkit-box-sizing:content-box; box-sizing:content-box; border:1px #d5d5d5 solid; margin:4px 0 0 10px;}

article{ }
article h1{ padding:3%; font-size:20px;}
article h1 b{ display:none;}
article h5{ padding:0 3% 3%; font-size:12px; color:#797979; font-weight:normal;}
.content{ border-top:1px #d5d5d5 solid; padding:20px 0 40px;}
.content p{ padding:0 0 3%; width:94%; margin:0 auto; overflow:hidden;}
.content p img{ width:90%; height:auto; margin:0 auto;}
.content table{ width:85%; border-top:1px #000000 solid;border-left:1px #000000 solid; margin:0 auto;}
.content table td{ border-right:1px #000000 solid;border-bottom:1px #000000 solid; padding:5px;}
.content .video{ margin-top:-40px;}

article .tab{ margin:10px 0; width:90%; margin-left:5%;}
article .tab li{   background:#fff; border:1px #fff solid; display:inline-block; height:25px; line-height:28px; padding:0 5px; cursor:pointer;border-radius:7px; cursor:pointer;  }
article .tab li.now{  background:#f0effe; border:1px #130b79 solid;}
article .tablist { display:none;border-top:1px #d5d5d5 solid;}
article .block{display:block;}
article .tablist .bszn-p{ border-bottom:1px #d5d5d5 solid; padding:10px 0;}
article .tablist .bszn-p h4{ padding:0 3% 1%; font-size:12px; color:#797979; font-weight:normal;}
article .tablist .bszn-p h5{ padding:0 3% 1%; font-size:12px; color:#797979; font-weight:normal;}
article .tablist .bszn-p p{border:1px #c3c3c3 solid;border-radius:7px; display:inline-block; line-height:25px; padding:5px 10px; margin:3%;}
article .tablist .bszn-p p i{ padding-right:5px;}
article .tablist .bszn-p p a{color:#bf0303;}

.page{ text-align: center; margin: 20px 0; padding-bottom:50px;}
.page a,.page span{ border-radius: 3px; padding: 2px 1px; border:1px solid #130b79; min-width: 24px; display: inline-block;}
.page a{ color: #130b79; background: #fff;}
.page span{ background: #130b79; color: #fff; margin:0 2px;}

.nolist{}
.nolist ol{ line-height:20px;  border-bottom:1px #d5d5d5 solid; padding:10px 0;cursor:pointer;}
.nolist ol span{ display:none;}
.nolist ol b{ color:#FFF; background:#bf0303; padding:2px; display:inline-block; width:15px; height:15px; line-height:15px; text-align:center; margin:0 10px;}

/*.map { width:95%; display:block; margin:0 auto 50px; position:relative; z-index:12;}*/





.map i{ display:none;}
.map .bg{ font-size:299px; color:#C5E8EF; position:absolute;}
.map .zjg{ font-size:77px; color:#b5d100; position:absolute; top:62px; left:68px;}
.map .css{ font-size:82px; color:#f5af83; position:absolute; top:104px; left:104px;}
.map .tcs{ font-size:90px; color:#fff487; position:absolute; top:124px; left:179px;}
.map .xcq{ font-size:61px; color:#fdf265; position:absolute; top:170px; left:67px;}
.map .kss{ font-size:100px; color:#c2d848; position:absolute; top:169px; left:140px;}
.map .hqq{ font-size:49px; color:#c2d848; position:absolute; top:210px; left:53px;}
.map .gsq{ font-size:43px; color:#f8bb56; position:absolute; top:216px; left:92px;}
.map .wzq{ font-size:82px; color:#fef7ae; position:absolute; top:219px; left:49px;}
.map .gyyq{ font-size:50px; color:#c8b31d; position:absolute; top:205px; left:106px;}
.map .wjs{ font-size:106px; color:#feea43; position:absolute; top:238px; left:67px;}

.content-box{ filter:progid:DXImageTransform.Microsoft.gradient(enabled='ture',startColorstr=#fff, endColorstr=#fff); background: rgba(255,255,255,0.8); border:1px #CCCCCC solid; border-radius:10px; z-index:9999; position:fixed; top:30%; width:86%; margin-left:7%;  display:none; -webkit-box-sizing:content-box; box-sizing:content-box;}
.content-box div{ padding:15px;}
.content-box p{ background:#F00; width:120px; height:30px; line-height:30px; margin:20px auto 5px; color:#fff; text-align:center;border-radius:10px; }
.content-box span{color:#F00; padding:0 3px;}
.panel-body.content img {
    width: 100%;
}

a.topic {
    background: #eff6fa;
    padding: 1px 10px 0;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 5px 5px 0;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

a.topic:hover {
    background: #259;
    color: #fff;
    text-decoration: none;
}

.button.is-naked {
    background: 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
}
.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
}
.delete-form {
    margin-left: 20px;
}
.delete-button {
    color: #3097D1;
    text-decoration: none;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #31b0d5;
  position: fixed;
  z-index: 2000;
  top: 46px;
  right: 100%;
  width: 100%;
  height: 5px;
}
html, body { background: #f9f9f9; -ms-overflow-style: scrollbar; /*ie-scrollbar*/ }

@media(max-width:768px) {
    html, body { overflow-x: hidden; /* Prevent scroll on narrow devices */ }
}

.all { margin-top: 50px; margin-left: 220px; z-index: 20; padding-left: 0; padding-right: 0; }
.sidebar { position: fixed; left: 0; top: 50px; width: 220px; padding: 0; background-color: #f1f1f1; -webkit-overflow-scrolling: touch; -webkit-overflow-scrolling: -blackberry-touch; border-right: 1px solid #ccc; overflow-y: auto; overflow-x: hidden; height: 100%; }
.sidebar ul { list-style-type: none; margin: 0; padding: 0; }
.sidebar li { border-top: 1px solid #f3f3f3; }
.sidebar li a { color: #6d7983; }
.sidebar li .caret { margin-top: 9px; }
.sidebar li i { margin-right: 15px; }
.sidebar .nav-header { padding: 10px; background-color: #f5f5f5; }
.sidebar .nav > li[class*=active] > a { background-color: #00acac; color: #fff; }
.sidebar .nav > li > a { padding: 13px 15px; border-bottom: 1px solid #e5e5e5; }
.sidebar .sub-menu { display: none; }
.sidebar .sub-menu li:hover { background-color: #f5f5f5; }
.sidebar .sub-menu li a { padding: 15px 30px; text-decoration: none; display: block; background-color: #fff; }
.sidebar .sub-menu li[class*=active] > a { color: #00acac !important; }

.maincontent { width: 100%; height: 100%; margin: 0 auto; min-width: 320px !important; overflow: hidden; }
.maincontent .breadcrumb { padding: 14px 15px; }

#goTop { padding: 5px 15px; border-radius: 8px; position: fixed; right: 20px; bottom: 20px; display: none; background-color: #aaa; color: #fff; text-align: center; display: none; -webkit-transition: background 0.5s linear; transition: background 0.5s linear; z-index: 99; }
#goTop:hover { background: #808080; }

@media (max-width:768px) {
    .navbar-toggle[class*=pull-left] { margin-left: 15px; margin-right: 0; }
    #goTop { padding: 0 8px; }
}

.forkme { position: absolute; top: 50px; right: 0; border: 0; }
/*fa字体库样式纠正，注意写法，中间是没有间隔的*/
.fa.pull-right { line-height: inherit; }

